<% provide(:title, @customer.firstName) %>
<div class="row">
  <aside class="col-md-4">
    <section class="customer_info">
      <h1>
	Welcome, 
  <%= @customer.firstName %>!
	  </h1>
    <%= link_to "Start Job", root_url, class: "btn btn-lg btn-primary" %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @customer.jobs.any? %>
      <h3>Jobs (<%= @customer.jobs.count %>)</h3>
      <ol class="jobs">
        <%= render @jobs %>
      </ol>
      <%= will_paginate @jobs %>
    <% end %>
  </div>
</div>